@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0%;
    width: 100%;
    position: relative;
    background-color: black;
    color: white;
    cursor: none;
}
html {
  scroll-behavior: smooth;
}
@layer components {
      .gradient-border {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px; /* Border width */
    border-radius: 20px;
    background: linear-gradient(
      20deg,
      #fdfdfd 0%,
      rgba(253, 253, 253, 0) 100%
    ); /* Gradient colors */
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  .gradient-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(
      0deg,
      rgba(11, 6, 32, 1) 0%,
      rgba(16, 11, 51, 0.7217480742296919) 23%,
      rgba(16, 11, 51, 0) 100%
    );
  }
}

  /* marquee */
  .marquee {
    height: 100px;
    width: 100dvw;
    overflow: hidden;
    position: relative;
  }
  .marquee-box {
    display: flex;
    align-items: center;
    width: 200%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    animation: marquee 35s linear infinite;

  }  
  .marquee-item {
    float: left;
  }
  .marquee-item:after {
    content: "";
    position: absolute;
    top: 100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    background: linear-gradient(
      to bottom,
      rgba(229, 172, 142, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(229, 172, 142, 0)
    );
  }
  /*This activates the shine once the button has been hovered*/
  .marquee-item:hover::after,
  button:focus::after {
    animation: shine 1s forwards;
  }


  @keyframes shine {
  100% {
    transform: rotateZ(60deg) translate(1em, -15em);
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes sweep {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
.group-hover\:animate-sweep {
  animation: sweep 0.6s ease-out forwards;
}
input:-webkit-autofill {
  @apply bg-gray-900 text-white;
  -webkit-box-shadow: 0 0 0 1000px #0f172a inset;
  -webkit-text-fill-color: white;
}


.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}